* {
    scrollbar-color: var(--green) var(--purple1);
    margin:0;
	padding: 0;
	border: 0;
    box-sizing:border-box;
    transition: all 0.3s ease-in-out;
    
    /*cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="%23000" d="m12 0 12 12-12 12L0 12z"></path></svg>'), auto;*/

    /*variables*/
    --purple1: #360568;
    --purple2: #5b2a86;
    --blue1: #7785ac;
    --blue2: #9ac6c5;
    --green: #a5e6ba;

    --paddingAll: 5%;

    --cards: 3;
    --cardHeight: 70dvh;
    --cardTopPadding: 1.5em; 
    --cardMargin: 5dvw;

    --skills: 8;
    --skillTransitionDelay: .3s;
}

body{
    background-color: var(--purple1);
}

a {
    color: var(--green);
    cursor:pointer;
    transition-duration:.4s;
    text-decoration: none;
}

a:hover {
    color: var(--blue1);
}

h1{
    /*font-family: "bd-colonius", sans-serif;*/
    font-size:500%;
    font-family: "omnium", sans-serif;
    font-weight: 700;
}

h2, h3, p, ul {
    font-family: "futura-pt", sans-serif;
}

ul {
    font-size:110%;
}

ul.diamond {
    list-style-type: "◆";
    margin-left: 15px;
}

.solid, .transparent {
    padding: var(--paddingAll);
}

.solid {
    background-color:var(--green);
    color: var(--purple1);
    padding: var(--paddingAll);
}

.transparent {
    color: var(--green);
}

.active.fade {
    
    opacity: 0;
    animation: fade 1s ease-in;
    animation-fill-mode: forwards;
}

.active.fade.slideUp {
    animation: slideUp 1s ease-in;
    animation-fill-mode: forwards;  
}

.active.fade.slideLeft {
    animation: slideLeft 1s ease-in;
    animation-fill-mode: forwards;
}

.active.fade.slideRight {
    animation: slideRight 1s ease-in;
    animation-fill-mode: forwards;
}

/*linear-gradient(90deg, var(--blue1), var(--purple1), var(--green));*/
.highlight {
    background-image: linear-gradient(to right, transparent, var(--blue1));
    background-size: 200% 100%;
    background-position: 0;
    animation-name: myhighlight;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    padding: 0.1em 0.2em;
    border-radius: 0.3em;
}

.highlight.first {
    animation-delay: 0.5s;
}

.highlight.second {
    animation-delay: 1.5s;
}

.test {
    display: flex;
    justify-content:center;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--green); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: .2em; /* Adjusts the spacing between characters */
    animation: typing 3s steps(17, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 50%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: var(--green); }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
    from {
        transform: translateY(10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(-5%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(5%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes myhighlight {
    from {
      background-position: 0;
    }

    to {
      background-position: -100%;
    }
}

@keyframes moveUpAndDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}


/*------------------------------NAVBAR------------------------------*/
#navbar {
    position:sticky;
    height:0px;
    overflow: visible;
    top:40%;
    width:max-content;
    margin-left:auto;
    right: 2%;
    z-index: 1;
}

#navbar2 {
    position: relative; 
    top:-100%;
}

#navbar2 a {
    color: var(--blue2);
}

/*------------------------------DOWN ARROW------------------------------*/

#downArrow {
    position: absolute;
    height: 0px;
    overflow: visible;
    top:85%;
    right:50%;
    width:max-content;
    margin-left:auto;
    z-index: 1;
}

#downArrowContent {
    position: relative; 
    top:-100%;
    color:var(--green);
    font-size: 300%;
    /*transition: all 0.3s ease-in-out;*/
    animation: moveUpAndDown 1.5s ease-in-out infinite;
    animation-delay:3s;
}

#downArrowContent:hover {
    color: var(--blue1);
    cursor: pointer;
}

#downArrowContent.paused {
    animation-play-state: paused;
}

/*------------------------------TITLE------------------------------*/
#title {
    min-height:100dvh;
    display:flex;
    margin:0;
    align-items: center;
}

#title-content {
    color:var(--green);
    padding: var(--paddingAll);
    margin: 0 auto;
    overflow:auto;
}

#title h1{
    font-size:900%;
}

#title p{
    font-size:300%;
}


/*------------------------------BIO------------------------------*/
#bio p {
    font-size:150%;
}

#me {
    width:400px;
    float:left;
}

#bio-content {
    padding: var(--paddingAll);
    overflow:hidden;
}

/*------------------------------WORK------------------------------*/

#timeline {
    position:relative;
    /*max-width:1200;*/
    margin: 0 auto;
    color:var(--purple1);
}

/*stick thing*/
#timeline::after {
    content: '';
    position: absolute;
    width:6px;
    background-color:var(--green);
    top:0;
    bottom:0;
    left:50%;
}

#timeline .container {
    padding: 10px 40px;
    position: relative;
    background-color:var(--purple1);
    width:50%;
}

/*circles on stick thing*/
#timeline .container::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -16px;
    top:10px;
    border-radius:50%;
    z-index:2;
    background-color: var(--green);
}

#timeline .left {
    left: 0;
}

#timeline .right {
    left: 50%;
}

#timeline .right::after {
    left: -9px;
}

/*the actual boxes*/
#timeline .content {
    padding: 20px 20px;
    background-color: var(--green);
    position: relative;
    /*transition: all 0.3s ease-in-out;*/
}

#timeline .content:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 5px 10px var(--blue2);
}

#timeline a {
    color: var(--blue1);
}

/*-------------------------------SKILLS------------------------------*/
.skill {
    /*transition: all 0.3s ease-in-out;*/
    opacity: 1;
}

.skills .skill:nth-child(1) {
    animation-delay: calc(var(--skillTransitionDelay) * 1);
}
.skills .skill:nth-child(2) {
    animation-delay: calc(var(--skillTransitionDelay) * 2);
}
.skills .skill:nth-child(3) {
    animation-delay: calc(var(--skillTransitionDelay) * 3);
}
.skills .skill:nth-child(4) {
    animation-delay: calc(var(--skillTransitionDelay) * 4);
}
.skills .skill:nth-child(5) {
    animation-delay: calc(var(--skillTransitionDelay) * 5);
}
.skills .skill:nth-child(6) {
    animation-delay: calc(var(--skillTransitionDelay) * 6);
}
.skills .skill:nth-child(7) {
    animation-delay: calc(var(--skillTransitionDelay) * 7);
}
.skills .skill:nth-child(8) {
    animation-delay: calc(var(--skillTransitionDelay) * 8);
}
    

.skill:hover{
    transform: scale(1.1,1.1);
}

/*------------------------------WEBSITES------------------------------*/

#websitesTitle {
    position:sticky;
    top:5%;
}

/*
#webimages {
    display: inline-block;
    margin:auto;
}

#haapiweb, #majorweb, #herartweb {
    float:left;
    width: 30%;
    padding:1%;
}
*/

.webimage{
    width:50%;
    padding:1%;
    float: left;
    /*transition: all 0.3s ease-in-out;*/
}

.webimage:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

#websites .container {
    width:90%;
    margin: 0 auto;
}

#websites #cards {
    list-style:none;
    padding-left:0;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    
}

#card1 {
	--index: 1;
}

#card2 {
	--index: 2;
}

#card1, #card2 {
    color:var(--purple1);
}

#card3 {
	--index: 3;
}

.card {
	position: sticky;
	top: 20%;
	padding-top: calc(var(--index) * var(--cardTopPadding));
    
}

#card1 .card-content {
    background-color: var(--blue2);
}

#card2 .card-content {
    background-color: var(--blue1);
}

#card3 .card-content {
    background-color: var(--purple2);
}

.card h2 {
    font-size: 300%;
}

.card-content {
    padding: 10px;
	border-radius: 50px;
    height: var(--cardHeight);
    /*
	justify-content: center;
    */
	/*transition: all 0.5s;*/
}

.card-content .fade {
    display: flex;
    align-items: center;
    text-align:left;
}

.card-actual-content {
    margin: 5%;
    overflow:hidden;
}

/*------------------------------CONNECT------------------------------*/
#connect {
    text-align:center;
}

#connect .bi, #skills .skill {
    font-size:300%;
    padding:2%;
}

#footer {
    text-align:center;
    color:var(--green)
}

/*
COLOR PALETTE FOR NOW:
purple1: #360568
purple2: #5b2a86
blue1: #7785ac
blue2: #9ac6c5
green: #a5e6ba

*/