* {
    scrollbar-color: #a5e6ba #360568;
    margin:0;
	padding: 0;
	border: 0;
    box-sizing:border-box;
    
    /*cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="%23000" d="m12 0 12 12-12 12L0 12z"></path></svg>'), auto;*/

    /*variables*/
    --cards: 3;
    --cardHeight: 70dvh;
    --cardTopPadding: 1.5em; 
    --cardMargin: 5dvw;
}

body{
    background-color:#360568;}

a {
    color:#a5e6ba;
    cursor:pointer;
    transition-duration:.4s;
    text-decoration: none;
}

a:hover {
    color: #7785ac;
}

h1{
    /*font-family: "bd-colonius", sans-serif;*/
    font-size:500%;
    font-family: "omnium", sans-serif;
    font-weight: 700;
}

h2, h3, p, ul {
    font-family: "futura-pt", sans-serif;
}

ul {
    font-size:110%;
}

ul.diamond {
    list-style-type: "◆";
    margin-left: 15px;
}

.solid, .transparent {
    padding:5%;
}

.solid {
    background-color:#a5e6ba;
    color: #360568;
    padding:5%;
}

.transparent {
    color: #a5e6ba;
}

.active.fade {
  animation: fade 1s ease-in;
}

.active.fade.slideUp {
  animation: slideUp 1s ease-in;
}

.active.fade.slideLeft {
  animation: slideLeft 1s ease-in;
}

.active.fade.slideRight {
  animation: slideRight 1s ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
    from {
        transform: translateY(10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(-5%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(5%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/*------------------------------NAVBAR------------------------------*/
#navbar {
    position:sticky;
    height:0px;
    overflow: visible;
    top:40%;
    width:max-content;
    margin-left:auto;
    right: 2%;
    z-index: 1;
}

#navbar2 {
    position: relative; 
    top:-100%;
}

#navbar2 a {
    color: #9ac6c5;
}

/*------------------------------TITLE------------------------------*/
#title {
    min-height:100dvh;
    display:flex;
    margin:0;
    align-items: center;
}

#title-content {
    color:#a5e6ba;
    padding:5%;
    margin: 0 auto;
    overflow:auto;
}

#title h1{
    font-size:900%;
}

#title p{
    font-size:300%;
}

/*------------------------------BIO------------------------------*/
#bio p {
    font-size:150%;
}

#me {
    width:400px;
    float:left;
}

#bio-content {
    padding:5%;
    overflow:hidden;
}

/*------------------------------WORK------------------------------*/

#timeline {
    position:relative;
    /*max-width:1200;*/
    margin: 0 auto;
    color:#360568;
}

/*stick thing*/
#timeline::after {
    content: '';
    position: absolute;
    width:6px;
    background-color:#a5e6ba;
    top:0;
    bottom:0;
    left:50%;
}

#timeline .container {
    padding: 10px 40px;
    position: relative;
    background-color:#360568;
    width:50%;
}

/*circles on stick thing*/
#timeline .container::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -16px;
    top:10px;
    border-radius:50%;
    z-index:2;
    background-color: #a5e6ba;
}

#timeline .left {
    left: 0;
}

#timeline .right {
    left: 50%;
}

#timeline .right::after {
    left: -9px;
}

/*the actual boxes*/
#timeline .content {
    padding: 20px 20px;
    background-color: #a5e6ba;
    position: relative;
    transition: all 0.3s ease-in-out;
}

#timeline .content:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 5px 10px #9ac6c5;
}

#timeline a {
    color: #7785ac;
}

/*-------------------------------SKILLS------------------------------*/
.skill {
    transition: all 0.3s ease-in-out;
}
.skill:hover{
    transform: scale(1.1,1.1);
}
/*------------------------------WEBSITES------------------------------*/

#websitesTitle {
    position:sticky;
    top:5%;
}

/*
#webimages {
    display: inline-block;
    margin:auto;
}

#haapiweb, #majorweb, #herartweb {
    float:left;
    width: 30%;
    padding:1%;
}
*/

.webimage{
    width:50%;
    padding:1%;
    float: left;
    transition: all 0.3s ease-in-out;
}

.webimage:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

#websites .container {
    width:90%;
    margin: 0 auto;
}

#websites #cards {
    list-style:none;
    padding-left:0;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    
}

#card1 {
	--index: 1;
}

#card2 {
	--index: 2;
}

#card1, #card2 {
    color:#360568;
}

#card3 {
	--index: 3;
}

.card {
	position: sticky;
	top: 20%;
	padding-top: calc(var(--index) * var(--cardTopPadding));
    
}

#card1 .card-content {
    background-color: #9ac6c5;
}

#card2 .card-content {
    background-color: #7785ac;
}

#card3 .card-content {
    background-color: #5b2a86;
}

.card h2 {
    font-size: 300%;
}

.card-content {
    padding: 10px;
	border-radius: 50px;
    height: var(--cardHeight);
    /*
	justify-content: center;
    */
	/*transition: all 0.5s;*/
}

.card-content .fade {
    display: flex;
    align-items: center;
    text-align:left;
}

.card-actual-content {
    margin: 5%;
    overflow:hidden;
}

/*------------------------------CONNECT------------------------------*/
#connect {
    text-align:center;
}

#connect .bi, #skills .skill {
    font-size:300%;
    padding:2%;
}

#footer {
    text-align:center;
    color:#a5e6ba
}

/*
COLOR PALETTE FOR NOW:
purple1: #360568
purple2: #5b2a86
blue1: #7785ac
blue2: #9ac6c5
green: #a5e6ba

*/