* {
    scrollbar-color: var(--green) var(--purple1);
    margin:0;
	padding: 0;
	border: 0;
    box-sizing:border-box;
    transition: all 0.3s ease-in-out;
    cursor: url(pictures/default.png), default; 

    /*variables*/
    --pointer: url(pictures/pointer.png), pointer;

    /* --purple1: #360568; */
    --purple1: #060a40;
    --purple2: #2a2c7d;
    /* --purple2: #5b2a86; */
    --blue1: #5d3ea5;
    --blue2: #3d277f;
    /* --blue1: #7785ac; */
    /* --blue2: #9ac6c5; */
    --green: #b0f8fa;
    --pink: #c5a6eb;
    /* --green: #a5e6ba; */

    --fontFamily: "futura-pt", sans-serif;

    --paddingAll: 5%;
    --transitionDelayAll: .5s;

    --cards: 3;
    --cardHeight: 70dvh;
    --phoneCardHeight: 70dvh;
    --cardTopPadding: 1.5em; 
    --cardMargin: 5dvw;

    --skills: 8;
    --skillTransitionDelay: .2s;
}

body{
    background-color: var(--purple1);
    overflow-x:hidden;
}

a {
    color: var(--green);
    cursor:var(--pointer);
    transition-duration:.4s;
    text-decoration: none;
}

a:hover {
    color: var(--blue1);
}

h1{
    /*font-family: "bd-colonius", sans-serif;*/
    font-size:350%;
    font-family: "zooja-pro", sans-serif;
    /* font-family: "omnium", sans-serif; */
    font-weight: 500;
}

h2, h3, p, ul, a {
    font-family: var(--fontFamily);
}

ul {
    font-size:110%;
}

ul.diamond {
    list-style-type: "◆";
    margin-left: 15px;
}

.solid, .transparent {
    padding: var(--paddingAll);
}

.solid {
    background-color:var(--green);
    color: var(--purple1);
    padding: var(--paddingAll);
}

.transparent {
    color: var(--green);
}

.fade {
    opacity:0;
}

.visible {
    opacity:1;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#shootingStars .shootingStar.inactive, .highlight.inactive, #stars .star.inactive{
    animation-play-state: paused;
}

.active.fade, .titlefade {
    opacity: 0;
    animation: fade 1s ease-in;
    animation-fill-mode: forwards;
}

.fade.second {
    animation-delay: 0.3s;
}

.fade.third {
    animation-delay: 0.6s;
}

.fade.fourth {
    animation-delay: 0.9s;
}

.titlefade.second {
    animation-delay: 1s;
}

.titlefade.third {
    animation-delay: 2s;
}

.titlefade.fourth {
    animation-delay: 3s;
}

.titlefade.fifth{
    animation-delay: 5s;
}

.active.fade.slideUp {
    opacity: 0;
    animation: slideUp 1s ease-in;
    animation-fill-mode: forwards;  
}

.active.fade.slideLeft {
    opacity: 0;
    animation: slideLeft 1s ease-in;
    animation-fill-mode: forwards;
}

.active.fade.slideRight {
    opacity: 0;
    animation: slideRight 1s ease-in;
    animation-fill-mode: forwards;
}

.highlight {
    background-image: linear-gradient(to right, transparent, var(--blue1));
    background-size: 200% 100%;
    background-position: 0;
    animation-name: myhighlight;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    padding: 0.1em 0.2em;
}

.highlight.first {
    animation-delay: 1.5s;
}

.highlight.second {
    animation-delay: 2.5s;
}

.texts .text:nth-child(1) {
    animation-delay: calc(var(--transitionDelayAll) * 1);
}

.texts .text:nth-child(2) {
    animation-delay: calc(var(--transitionDelayAll) * 2);
}

.texts .text:nth-child(3) {
    animation-delay: calc(var(--transitionDelayAll) * 3);
}

.fade.last {
    animation-delay: calc(var(--transitionDelayAll) * 4);
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: var(--green); }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
    from {
        transform: translateY(10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(-5%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(5%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes myhighlight {
    from {
      background-position: 0;
    }

    to {
      background-position: -100%;
    }
}

@keyframes moveUpAndDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes moveLeftAndRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

/*for phones*/
@media screen and (max-width: 600px) {
    h1 {
        font-size:300%;
    }

    h2 {
        font-size:150%;
    }

    .highlight {
        padding: 0em 0.05em;
    }

}

/*for phones and tablets*/
@media screen and (max-width: 1100px) {
    .flex {
        flex-direction: column;
    }
}

@media (prefers-reduced-motion: reduce) {
    #stars .star.inactive {
    animation-play-state: paused;
    }

    #shootingStars .shootingStar.inactive, .highlight.inactive{
    animation-play-state: paused;
    }
}

/*------------------------------MENU------------------------------*/
#menu {
    position: fixed;
    top: 5%;
    right: 2%;
    z-index: 2;
    color: var(--green);
    font-size: 150%;
    background-color:var(--blue1);
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#menu:hover {
    color: var(--blue2);
    background-color: var(--purple2);
    cursor: var(--pointer);
}

#menu i:hover {
    cursor: var(--pointer);
}

#menuOverlay, #creditsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    align-content: center;
    height: 100dvh;
}
#menuOverlay.show, #creditsOverlay.show {
    visibility: visible;
    opacity: 1;

}

#menuOverlay:hover, #creditsOverlay:hover, #artOverlay:hover{
    cursor:var(--pointer);
}

#menuContent, #creditsContent {
    width: 50%;
    transition: all 0.5s ease-in-out;
    background-color: var(--purple1);
    position: relative;
    margin: 0 auto;
    padding: var(--paddingAll);
    color: var(--green);
    text-align: center;
    display: inline-block;
}
#menuContent p {
    font-size: 150%;
}

.exit {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 200%;
    padding: 1%;
}

#toggleOnOff {
    cursor: var(--pointer);
}

@media screen and (max-width: 600px) {
    #menuContent, #creditsContent {
        width: 80%;
    }

}


/*------------------------------PAUSE BUTTON------------------------------*/
/* #pauseButton {
    position: fixed;
    top: 5%;
    right: 2%;
    z-index: 2;
    color: var(--green);
    font-size: 150%;
    background-color:var(--purple2);
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center; 
} */

/* #pauseButton:hover, #goHomeArrow:hover {
    background-color: var(--blue1);
    cursor: var(--pointer);
} */
/* #pauseButton i:hover {
    cursor: var(--pointer);
} */


/*------------------------------GO HOME ARROW------------------------------*/
#goHomeArrow {
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 2;
    color: var(--green);
    font-size: 150%;
    background-color:var(--purple2);
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center; 

    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
#goHomeArrow:hover {
    /* color: var(--blue2); */
    background-color: var(--blue1);
    cursor: var(--pointer);
}
#goHomeArrow.active {
    visibility: visible;
    opacity: 1;
}

/*------------------------------DOWN ARROW------------------------------*/

#downArrow {
    position: absolute;
    height: 0px;
    overflow: visible;
    top:85%;
    right: 47%;
    width: max-content;
    margin-left:auto;
    z-index: 1;
}

#downArrowContent {
    position: relative; 
    top:-100%;
    color:var(--green);
    font-size: 300%;
    animation: moveUpAndDown 1.5s ease-in-out infinite;
    animation-delay:5.6s;
}

#downArrowContent i:hover {
    color: var(--blue1);
    cursor: var(--pointer);
}

#downArrowContent.paused {
    animation-play-state: paused;
}

/*------------------------------PARTICLES------------------------------*/
#stars .star {
    position: fixed;
    top: 50%;
    left:50%;
    background-color: var(--green);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    animation-name: blinking;
    animation-iteration-count: infinite;
    color:var(--green);
}

#stars .star:nth-child(1) {
    box-shadow: -29vw -33vh #7785ac,43vw 28vh #7785ac,46vw 22vh #7785ac,12vw 35vh #7785ac,-40vw -50vh #7785ac,-29vw 16vh #7785ac,41vw -34vh #7785ac,-10vw 40vh #7785ac,-29vw 44vh #7785ac,13vw -16vh #7785ac;
}

#stars .star:nth-child(2) {
    box-shadow: 17vw -29vh #7785ac,20vw 8vh #7785ac,-22vw -20vh #7785ac,48vw -13vh #7785ac,19vw -32vh #7785ac,18vw -10vh #7785ac,27vw 37vh #7785ac,29vw -49vh #7785ac,-26vw 19vh #7785ac,-6vw 26vh #7785ac;
    animation-delay: 3s;
}

#stars .star:nth-child(3) {
    box-shadow: 31vw 35vh #7785ac,30vw 30vh #7785ac,16vw 7vh #7785ac,20vw -38vh #7785ac,21vw 36vh #7785ac,-45vw 26vh #7785ac,5vw -22vh #7785ac,-9vw 50vh #7785ac,3vw 2vh #7785ac,-43vw -47vh #7785ac;
    animation-delay: 6s;
}

#stars .star:nth-child(4) {
    box-shadow: 15vw -15vh #7785ac,45vw -35vh #7785ac,-34vw -13vh #7785ac,23vw -13vh #7785ac,-25vw -38vh #7785ac,-11vw 6vh #7785ac,-43vw 44vh #7785ac,-19vw -31vh #7785ac,-21vw 50vh #7785ac,22vw 5vh #7785ac;
    animation-delay: 1s;
}

#stars .star:nth-child(5) {
    box-shadow: -8vw -31vh #7785ac,-18vw 19vh #7785ac,-48vw -41vh #7785ac,42vw -42vh #7785ac,-33vw 2vh #7785ac,6vw -43vh #7785ac,2vw -47vh #7785ac,32vw -23vh #7785ac,-45vw -15vh #7785ac,-46vw -15vh #7785ac;
    animation-delay: 2s;
}

#stars .star:nth-child(5) {
    box-shadow: -8vw -31vh #7785ac,-18vw 19vh #7785ac,-48vw -41vh #7785ac,42vw -42vh #7785ac,-33vw 2vh #7785ac,6vw -43vh #7785ac,2vw -47vh #7785ac,32vw -23vh #7785ac,-45vw -15vh #7785ac,-46vw -15vh #7785ac;
    animation-delay: 4s;
}

#stars .star:nth-child(6) {
    box-shadow: 36vw 5vh #7785ac,46vw 22vh #7785ac,9vw 35vh #7785ac,-13vw -6vh #7785ac,-22vw 7vh #7785ac,50vw 3vh #7785ac,-15vw 8vh #7785ac,7vw 43vh #7785ac,47vw 33vh #7785ac,-6vw 7vh #7785ac;
    animation-delay: 2s;
}

#stars .star:nth-child(7) {
    box-shadow: 31vw 41vh #7785ac,-46vw -33vh #7785ac,44vw 28vh #7785ac,11vw 1vh #7785ac,-3vw 20vh #7785ac,40vw -29vh #7785ac,46vw 32vh #7785ac,-48vw 18vh #7785ac,-6vw -40vh #7785ac,-40vw 34vh #7785ac;
    animation-delay: 5s;
}

#stars .star:nth-child(8) {
    box-shadow: 43vw 25vh #7785ac,49vw 34vh #7785ac,31vw -47vh #7785ac,-7vw 34vh #7785ac,-44vw -18vh #7785ac,-45vw -21vh #7785ac,-13vw -11vh #7785ac,-37vw 9vh #7785ac,-40vw -31vh #7785ac,11vw 19vh #7785ac;
    animation-delay: 6s;
}

#stars .star:nth-child(9) {
    box-shadow: 2vw 26vh #7785ac,27vw -22vh #7785ac,-41vw 29vh #7785ac,-32vw 23vh #7785ac,-17vw -14vh #7785ac,32vw 14vh #7785ac,45vw -32vh #7785ac,-44vw 9vh #7785ac,13vw -36vh #7785ac,11vw -2vh #7785ac;
    animation-delay: 8s;
}

#stars .star:nth-child(10) {
    box-shadow: -6vw -14vh #7785ac,-20vw 17vh #7785ac,-48vw 50vh #7785ac,-45vw 1vh #7785ac,15vw 40vh #7785ac,25vw 19vh #7785ac,-46vw -39vh #7785ac,-40vw -15vh #7785ac,34vw -30vh #7785ac,39vw 43vh #7785ac;
    animation-delay: 7s;
}

#stars .star:nth-child(even) {
    height: 2px;
    width: 2px;
    animation-duration: 3s;
}

#stars .star:nth-child(odd) {
    height: 3px;
    width: 3px;
    animation-duration: 5s;
}

#stars .star:nth-child(3n+1) {
    height: 4px;
    width: 4px;
}

@keyframes blinking {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

/*------------------------------SHOOTING STARS------------------------------*/
#shootingStars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: -1;
    overflow: hidden;
    opacity:0.5;
}

.shootingStar {
    position: absolute;
    top:50%;
    left:90%;
    width: 4px;
    height: 4px;
    background-color: var(--green);
    border-radius: 50%;
    animation: shootingStar 3s linear infinite;
    opacity:0;
}

.shootingStar::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 50px;
    height: 2px;
    background-color: var(--green);
    transform-origin: left;
    transform: translateY(-50%);
    background: linear-gradient(90deg, var(--green),transparent);
}

.shootingStar:nth-child(2n)::before {
    width:100px;
}

.shootingStar:nth-child(3n)::before {
    width:150px;
}

#shootingStars .shootingStar:nth-child(1){
    top: 0;
    right: 0;
    animation-delay: 0s;
    animation-duration: 3s;
}

#shootingStars .shootingStar:nth-child(2){
    top: 0;
    left: 400px;
    animation-delay: 0.5s;
    animation-duration: 4s;
}
#shootingStars .shootingStar:nth-child(3){
    top: 0;
    left: 200px;
    animation-delay: 0.7s;
    animation-duration: 5s;
}

#shootingStars .shootingStar:nth-child(4){
    top: 0;
    left: 700px;
    animation-delay: 1.5s;
    animation-duration: 3s;
}
#shootingStars .shootingStar:nth-child(5){
    top: 400px;
    left: 1600px;
    animation-delay: 2.5s;
    animation-duration: 4s;
}
#shootingStars .shootingStar:nth-child(6){
    top: 50px;
    left: 1800px;
    animation-delay: 3s;
    animation-duration: 8s;
}
#shootingStars .shootingStar:nth-child(7){
    top: 0;
    left: 800px;
    animation-delay: 2s;
    animation-duration: 5s;
}
#shootingStars .shootingStar:nth-child(8){
    top: 0;
    left: 600px;
    animation-delay: 2.5s;
    animation-duration: 6s;
}
#shootingStars .shootingStar:nth-child(9){
    top: 0;
    left: 300px;
    animation-delay: 2.5s;
    animation-duration: 3.3s;
}
#shootingStars .shootingStar:nth-child(10){
    top: 0;
    left: 1600px;
    animation-delay: 3.5s;
    animation-duration: 6s;
}
#shootingStars .shootingStar:nth-child(11){
    top: 200px;
    left: 1700px;
    animation-delay: .3s;
    animation-duration: 7s;
}
#shootingStars .shootingStar:nth-child(12){
    top: 400px;
    left: 1800px;
    animation-delay: 1.5s;
    animation-duration: 3s;
}
#shootingStars .shootingStar:nth-child(13){
    top: 70px;
    left: 1900px;
    animation-delay: 5s;
    animation-duration: 6s;
}

@keyframes shootingStar {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;
    }
}

/*------------------------------TITLE------------------------------*/
#home {
    min-height:100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* vertical centering */
    align-items: center;       /* horizontal centering */
    position: relative;  
    text-align: center;
}

/* #home #title {
    display:flex;
    align-items: center;
    text-align: center;
} */

#home #title-content {
    color:var(--green);
    padding: var(--paddingAll);
    margin: 0 auto;
    overflow:auto;
}

#home #title h1{
    font-size:700%;
}

#home #title p{
    font-size:150%;
}

#home #title #welcomeTitle {
    font-size: 200%;
}

#home #title span p {
    display: inline-block;
}

#home #title b{
    color:var(--pink);
}

/* #title .titlelink {
    padding:2%;
    margin: 1%;
    background-color: var(--purple2);
}

#title .titlelink:hover {
    background-color: var(--blue1);
    cursor:var(--pointer);
} */

@media screen and (max-width: 600px) {
    #home #title h1 {
        font-size: 500%;
    }

    #home#title p {
        font-size:150%;
    }

}

/*------------------------------MENU BAR------------------------------*/
#menuBar {
    position: fixed;
    top: 0;
    z-index:2;
    width:100%;
    color:var(--green);
    background-color:var(--purple1);
    display:flex;
}

#menuBar p{
    padding: 15px;
}

#menuBar p:hover{
    background-color: var(--blue1);
    cursor:var(--pointer);
}

#menuBar #pauseButton {
    margin-left:auto;
}

#menuBar #pauseButton i:hover {
    cursor: var(--pointer);
}

@media screen and (max-width: 600px) {
    #menuBar p{
        padding: 10px;
    }

}


/*------------------------------BIO------------------------------*/
#bio p {
    font-size:120%;
}

#bio-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

#me {
    width:100%;
    border-radius:50%;
}

#bio-content {
    padding: var(--paddingAll);
    overflow:hidden;
}

@media screen and (max-width: 600px) {
    #me {
        width:100%;
    }

    #bio-image {
        width: 100%;
    }

    #bio p {
        font-size:120%;
    }

}

@media screen and (min-width: 600px) and (max-width: 1100px) {

    #bio-image {
        width: 100%;
    }

    #me {
        width: 60%;
    }
}

/*------------------------------WORK------------------------------*/

#timeline {
    position:relative;
    margin: 0 auto;
    color:var(--purple1);
}

/*stick thing*/
#timeline::after {
    content: '';
    position: absolute;
    width:6px;
    background-color:var(--green);
    top:0;
    bottom:0;
    left:50%;
}

#timeline .container {
    padding: 10px 40px;
    position: relative;
    background: rgba(0,0,0, 0);
    width:50%;
}

/*circles on stick thing*/
#timeline .container::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -16px;
    top:10px;
    border-radius:50%;
    z-index:2;
    background-color: var(--green);
}

#timeline .left {
    left: 0;
}

#timeline .right {
    left: 50%;
}

#timeline .right::after {
    left: -9px;
}

/*the actual boxes*/
#timeline .content {
    padding: 20px 20px;
    background-color: var(--green);
    position: relative;
}

/*for desktop only*/
@media screen and (min-width: 1100px) {

    #timeline .content:hover {
        transform: scale(1.02, 1.02);
        box-shadow: 5px 10px var(--purple2);
    }

}

#timeline a {
    color: var(--blue1);
}

#timeline a:hover {
    color: var(--blue2);
}

#timeline img {
    width:80%;
    margin: auto;
    display:block;
}

#timeline #girlswhocode, #timeline #pp{
    width: 50%;
}

@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    #timeline::after {
        left: 31px;
    }
    
    /* Full-width containers */
    #timeline .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure all circles are at the same spot */
    #timeline .left::after, #timeline .right::after {
        left: 20px;
    }
    
    /* Make all right containers behave like the left ones */
    #timeline .right {
        left: 0%;
    }

    #timeline img {
        width: 100%;
    }

    #timeline #pp{
        width: 70%;
    }
}

/*-------------------------------SKILLS------------------------------*/
.skills .skill{
    position:relative;
}
.skills .skill::after {
    width: 100%;
    font-family: var(--fontFamily);
    font-size: 25%;
    position: absolute;
    bottom: -10px;
    left: 0;
    transform: translateX(25%) ;
}

.skills .skill:nth-child(1) {
    animation-delay: calc(var(--skillTransitionDelay) * 1);
}
#skill1::after {
    content:'Python';
}
.skills .skill:nth-child(2) {
    animation-delay: calc(var(--skillTransitionDelay) * 2);
}
#skill2::after {
    content:'Java';
}
.skills .skill:nth-child(3) {
    animation-delay: calc(var(--skillTransitionDelay) * 3);
}
#skill3::after {
    content:'JavaScript';
}
.skills .skill:nth-child(4) {
    animation-delay: calc(var(--skillTransitionDelay) * 4);
}
#skill4::after {
    content:'HTML5';
}
.skills .skill:nth-child(5) {
    animation-delay: calc(var(--skillTransitionDelay) * 5);
}
.skills .skill:nth-child(5)::after {
    content:'CSS3';
}
.skills .skill:nth-child(6) {
    animation-delay: calc(var(--skillTransitionDelay) * 6);
}
.skills .skill:nth-child(6)::after {
    content:'SQL';
    font-weight: normal;
}
.skills .skill:nth-child(7) {
    animation-delay: calc(var(--skillTransitionDelay) * 7);
}
.skills .skill:nth-child(7)::after {
    content:'Git';
}
.skills .skill:nth-child(8) {
    animation-delay: calc(var(--skillTransitionDelay) * 8);
}
.skills .skill:nth-child(8)::after {
    content:'PHP';
}
.skills span .skill:nth-child(1) {
    animation-delay: calc(var(--skillTransitionDelay) * 9);
}
.skills span .skill:nth-child(2) {
    animation-delay: calc(var(--skillTransitionDelay) * 10);
}
.skills span .skill:nth-child(3) {
    animation-delay: calc(var(--skillTransitionDelay) * 11);
}
.skills span .skill:nth-child(4) {
    animation-delay: calc(var(--skillTransitionDelay) * 12);
}

/*for desktop only*/
@media screen and (min-width: 1100px) {
    .skill:hover{
        transform: scale(1.1,1.1);
}
}

#skills span {
    margin-left:15px;
}

#skills span p {
    display: inline-block;
    margin-right:-30px;
}

span p:hover {
    cursor: var(--default);
}

@media screen and (max-width: 600px) {

    #skills span p {
        margin-right: -10px;
    }

    .skills {
        font-size:70%;
    }

}

/*------------------------------WEBSITES------------------------------*/

#websitesTitle {
    /* position:sticky;
    top:5%; */
    padding-bottom: 5%;
}

.webimage, .webgif {
    width:100%;
    padding:5%;
}

.card-image {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/*for desktop only*/
@media screen and (min-width: 1100px) {
    .webimage:hover {
        transform: scale(1.05, 1.05);
        cursor: var(--pointer);
    }
}

#websites .container {
    width:90%;
    margin: 0 auto;
}

#websites #cards {
    list-style:none;
    padding-left:0;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
}

#card1 {
	--index: 1;
}

#card2 {
	--index: 2;
}

#card1 {
    color:var(--purple1);
}

#card3 {
	--index: 3;
}

.card {
	/* position: sticky; */
	/* top: 20%; */
	/* padding-top: calc(var(--index) * var(--cardTopPadding));  */
}

#card1 .card-content {
    background-color: var(--green);
}

#card2 .card-content {
    background-color: var(--blue1);
}

#card3 .card-content {
    background-color: var(--purple2);
}

.card h2 {
    font-size: 200%;
}

.card-content {
    height: var(--cardHeight);
    display: flex;
    align-items: center;
    text-align:left;
}

.card-actual-content {
    padding: 5%;
}

#websites ul {
    list-style-type: none;
    padding-left: 0px;
}

#websites .texts p:before {
  content: "◆";
  color: var(--purple1);
  padding: 2px;
}

#websites #card3 .texts p:before, #websites #card2 .texts p:before {
  color: var(--green);
}

/*for phones*/
@media screen and (max-width: 600px) {

    .card-content {
        height: var(--phoneCardHeight);
    }

    #websites #cards {
        grid-template-rows: repeat(var(--cards), var(--phoneCardHeight));
    }  
    
    .card h2 {
        font-size: 200%;
    }

    
}

/*for tablets and phones*/
@media screen and (max-width: 1100px) {
    .webimage {
        width: 100%;
    }
}

/*------------------------------ART SECTION------------------------------*/
#art a {
    color: var(--purple1);
    font-size: 150%;
}
#art a:hover {
    color: var(--blue1);
}

@media screen and (max-width: 600px) {
    #art a {
        font-size:120%;
    }
}


/*------------------------------CONNECT------------------------------*/
#connect {
    text-align:center;
}

#connect .bi, #skills .skill {
    font-size:300%;
    padding:2%;
}

#footer {
    text-align:center;
    color:var(--green)
}

/*------------------------------CREDITS------------------------------*/

#creditsOverlay a {
    color: var(--blue1);
}

#creditsOverlay a:hover {
    color:var(--purple2);
}

/*------------------------------ART PAGE------------------------------*/

#artTitle { 
    text-align: center;
    color: var(--green);
    padding:5%;
}

#actualArt .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

#actualArt .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

#actualArt .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: var(--pointer);
}

#goHome {
    color: #a5e6ba;
    text-align: center;
    font-size: 200%;
}

#artOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    align-content: center;
    height: 100dvh;
}
#artOverlay.show {
    visibility: visible;
    opacity: 1;

}

#artOverlayContent {
    width: 100%;
    transition: all 0.5s ease-in-out;
    background-color: rgba(0,0,0, 0.5);
    position: relative;
    margin: 0 auto;
    color: var(--green);
    text-align: center;
    display: inline-block;
}

.overlayImage {
    width: 100%;
    height: auto;
    max-height: 100dvh;
    object-fit: contain;
    margin: 0 auto;
    padding: 20px;
}

@media screen and (max-width: 800px) {
    #actualArt .column {
        flex: 50%;
        max-width: 50%;
    }
}