* {
    scrollbar-color: var(--green) var(--purple1);
    margin:0;
	padding: 0;
	border: 0;
    box-sizing:border-box;
    transition: all 0.3s ease-in-out;
    cursor: default;
    
    /*cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="%23000" d="m12 0 12 12-12 12L0 12z"></path></svg>'), auto;*/

    /*variables*/
    --purple1: #360568;
    --purple2: #5b2a86;
    --blue1: #7785ac;
    --blue2: #9ac6c5;
    --green: #a5e6ba;

    --paddingAll: 5%;
    --transitionDelayAll: .5s;

    --cards: 3;
    --cardHeight: 70dvh;
    --cardTopPadding: 1.5em; 
    --cardMargin: 5dvw;

    --skills: 8;
    --skillTransitionDelay: .3s;
}

body{
    background-color: var(--purple1);
}

a {
    color: var(--green);
    cursor:pointer;
    transition-duration:.4s;
    text-decoration: none;
}

a:hover {
    color: var(--blue1);
}

h1{
    /*font-family: "bd-colonius", sans-serif;*/
    font-size:500%;
    font-family: "omnium", sans-serif;
    font-weight: 700;
}

h2, h3, p, ul {
    font-family: "futura-pt", sans-serif;
}

ul {
    font-size:110%;
}

ul.diamond {
    list-style-type: "◆";
    margin-left: 15px;
}

.solid, .transparent {
    padding: var(--paddingAll);
}

.solid {
    background-color:var(--green);
    color: var(--purple1);
    padding: var(--paddingAll);
}

.transparent {
    color: var(--green);
}

.fade {
    opacity:0;
}

.visible {
    opacity:1;
}

.active.fade {
    opacity: 0;
    animation: fade 1s ease-in;
    animation-fill-mode: forwards;
}

.active.fade.slideUp {
    opacity: 0;
    animation: slideUp 1s ease-in;
    animation-fill-mode: forwards;  
}

.active.fade.slideLeft {
    opacity: 0;
    animation: slideLeft 1s ease-in;
    animation-fill-mode: forwards;
}

.active.fade.slideRight {
    opacity: 0;
    animation: slideRight 1s ease-in;
    animation-fill-mode: forwards;
}

/*linear-gradient(90deg, var(--blue1), var(--purple1), var(--green));*/
.highlight {
    background-image: linear-gradient(to right, transparent, var(--blue1));
    background-size: 200% 100%;
    background-position: 0;
    animation-name: myhighlight;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    padding: 0.1em 0.2em;
}

.highlight.first {
    animation-delay: 0.5s;
}

.highlight.second {
    animation-delay: 1.5s;
}

.texts .text:nth-child(1) {
    animation-delay: calc(var(--transitionDelayAll) * 1);
}

.texts .text:nth-child(2) {
    animation-delay: calc(var(--transitionDelayAll) * 2);
}

.texts .text:nth-child(3) {
    animation-delay: calc(var(--transitionDelayAll) * 3);
}

.fade.slideUp.last {
    animation-delay: calc(var(--transitionDelayAll) * 4);
}

.test {
    display: flex;
    justify-content:center;
}

/* WILL EDIT*/
.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--green); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: .2em; /* Adjusts the spacing between characters */
    animation: typing 3s steps(17, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 50%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: var(--green); }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
    from {
        transform: translateY(10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(-5%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(5%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes myhighlight {
    from {
      background-position: 0;
    }

    to {
      background-position: -100%;
    }
}

@keyframes moveUpAndDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

/*------------------------------MENU------------------------------*/
#menu {
    position: fixed;
    top: 5%;
    right: 2%;
    z-index: 2;
    color: var(--green);
    font-size: 150%;
    background-color:var(--blue1);
    padding: 1%;
    
}

#menu:hover {
    color: var(--blue2);
    background-color: var(--purple2);
    cursor: pointer;
}

#menu i:hover {
    cursor: pointer;
}

#menuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    align-content: center;
    height: 100dvh;
}
#menuOverlay.show {
    visibility: visible;
    opacity: 1;
}

#menuContent {
    width: 50%;
    transition: all 0.5s ease-in-out;
    background-color: var(--purple1);
    position: relative;
    margin: 0 auto;
    padding: var(--paddingAll);
    color: var(--green);
    text-align: center;
    display: inline-block;
}
#menuContent p {
    font-size: 150%;
}

#menuContent #exit {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 200%;
    padding: 1%;
}

/*------------------------------DOWN ARROW------------------------------*/

#downArrow {
    position: absolute;
    height: 0px;
    overflow: visible;
    top:85%;
    right:50%;
    width:max-content;
    margin-left:auto;
    z-index: 1;
}

#downArrowContent {
    position: relative; 
    top:-100%;
    color:var(--green);
    font-size: 300%;
    /*transition: all 0.3s ease-in-out;*/
    animation: moveUpAndDown 1.5s ease-in-out infinite;
    animation-delay:3s;
}

#downArrowContent:hover {
    color: var(--blue1);
    cursor: pointer;
}

#downArrowContent.paused {
    animation-play-state: paused;
}

/*------------------------------PARTICLES------------------------------*/
#stars .particles {
    box-shadow: 43vw 42vh var(--blue2),-39vw -33vh var(--blue2),22vw -41vh var(--blue2), 28vw 9vh var(--blue2),-12vw 15vh var(--blue2),43vw 25vh var(--blue2),45vw -26vh var(--blue2), 21vw 34vh var(--blue2),-47vw -37vh var(--blue2),-41vw 26vh var(--blue2),50vw 12vh var(--blue2), 6vw -43vh var(--blue2),-18vw -33vh var(--blue2),-2vw -21vh var(--blue2),-40vw -5vh var(--blue2), 39vw -31vh var(--blue2),27vw -40vh var(--blue2),30vw 15vh var(--blue2),0vw -13vh var(--blue2), 0vw 36vh var(--blue2),-26vw -26vh var(--blue2),27vw -13vh var(--blue2),30vw -14vh var(--blue2), 18vw -12vh var(--blue2),41vw 20vh var(--blue2),21vw 34vh var(--blue2),-13vw 34vh var(--blue2),-4vw 0vh var(--blue2),2vw -36vh var(--blue2),-31vw -42vh var(--blue2),-44vw 45vh var(--blue2),   26vw -11vh var(--blue2),-44vw -45vh var(--blue2),45vw -30vh var(--blue2),-45vw 47vh var(--blue2), 12vw 40vh var(--blue2),-11vw -44vh var(--blue2),12vw 18vh var(--blue2),-40vw 13vh var(--blue2), -29vw 22vh var(--blue2),27vw 4vh var(--blue2),-39vw 14vh var(--blue2),25vw -45vh var(--blue2), 32vw -10vh var(--blue2),-15vw 1vh var(--blue2),25vw -7vh var(--blue2),27vw -18vh var(--blue2), -25vw 8vh var(--blue2),36vw -27vh var(--blue2),-41vw -34vh var(--blue2),7vw -43vh var(--blue2), 27vw 7vh var(--blue2),22vw -9vh var(--blue2),8vw 50vh var(--blue2),28vw 6vh var(--blue2), -5vw 15vh var(--blue2),6vw 9vh var(--blue2),5vw -50vh var(--blue2),-45vw -6vh var(--blue2), -32vw -28vh var(--blue2),49vw 27vh var(--blue2),-29vw 33vh var(--blue2),-27vw 21vh var(--blue2),
    -11vw -48vh var(--blue2),-49vw 32vh var(--blue2),26vw 19vh var(--blue2),9vw -1vh var(--blue2), -19vw 29vh var(--blue2),-33vw -31vh var(--blue2),-39vw 19vh var(--blue2),-7vw 1vh var(--blue2), -27vw 8vh var(--blue2),-38vw -33vh var(--blue2),-1vw 23vh var(--blue2),5vw 40vh var(--blue2), 10vw 43vh var(--blue2),-24vw 25vh var(--blue2),32vw 17vh var(--blue2),20vw 20vh var(--blue2), 40vw 40vh var(--blue2),-25vw 0vh var(--blue2),-12vw 47vh var(--blue2),-40vw 2vh var(--blue2), -14vw -6vh var(--blue2),-9vw -32vh var(--blue2),-47vw -19vh var(--blue2),28vw 39vh var(--blue2), -20vw 44vh var(--blue2),-1vw -12vh var(--blue2),-37vw -50vh var(--blue2),19vw -24vh var(--blue2), 39vw -25vh var(--blue2),45vw -47vh var(--blue2),-8vw 41vh var(--blue2),21vw -25vh var(--blue2), -41vw -20vh var(--blue2),-39vw 21vh var(--blue2),1vw 50vh var(--blue2),39vw -46vh var(--blue2), 26vw -20vh var(--blue2);
    position: fixed;
    top: 50%;
    left:50%;
    height: 2px;
    width: 2px;
    background-color: var(--blue1);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
}

#stars .particles:nth-child(1) {
    animation: zoom 9s linear infinite;
}

#stars .particles:nth-child(2) {
    animation: zoom2 9s linear infinite;
    animation-delay:3s;
}

#stars .particles:nth-child(3) {
    animation: zoom3 9s linear infinite;
    animation-delay:6s;
}

@keyframes zoom {
    0%{
        transform: scale(1);
        opacity: 0.5;
    }
    95%{
        transform: scale(1.5);
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

@keyframes zoom2 {
    0%{
        transform: scale(.7);
        opacity: 0;
    }
    95%{
        transform: scale(1.2);
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}

@keyframes zoom3 {
    0%{
        transform: scale(.4);
        opacity: 0;
    }
    95%{
        transform: scale(.9);
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: scale(.9);
    }
}

/*------------------------------SHOOTING STARS------------------------------*/
#shootingStars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: -1;
    overflow: hidden;
}

.shootingStar {
    position: absolute;
    top:50%;
    left:90%;
    width: 4px;
    height: 4px;
    background-color: var(--blue1);
    border-radius: 50%;
    animation: shootingStar 3s linear infinite;
    opacity:0;
}

.shootingStar::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 50px;
    height: 2px;
    background-color: var(--blue1);
    transform-origin: left;
    transform: translateY(-50%);
    background: linear-gradient(90deg, var(--blue1),transparent);
}

.shootingStar:nth-child(2n)::before {
    width:100px;
}

.shootingStar:nth-child(3n)::before {
    width:150px;
}

#shootingStars .shootingStar:nth-child(1){
    top: 0;
    right: 0;
    animation-delay: 0s;
    animation-duration: 3s;
}

#shootingStars .shootingStar:nth-child(2){
    top: 0;
    left: 400px;
    animation-delay: 0.5s;
    animation-duration: 4s;
}
#shootingStars .shootingStar:nth-child(3){
    top: 0;
    left: 200px;
    animation-delay: 0.7s;
    animation-duration: 5s;
}

#shootingStars .shootingStar:nth-child(4){
    top: 0;
    left: 700px;
    animation-delay: 1.5s;
    animation-duration: 3s;
}

#shootingStars .shootingStar:nth-child(4){
    top: 400px;
    left: 1000px;
    animation-delay: 2.5s;
    animation-duration: 4s;
}
#shootingStars .shootingStar:nth-child(5){
    top: 50px;
    left: 900px;
    animation-delay: 3s;
    animation-duration: 8s;
}
#shootingStars .shootingStar:nth-child(6){
    top: 0;
    left: 800px;
    animation-delay: 2s;
    animation-duration: 5s;
}
#shootingStars .shootingStar:nth-child(7){
    top: 0;
    left: 600px;
    animation-delay: 2.5s;
    animation-duration: 6s;
}
#shootingStars .shootingStar:nth-child(8){
    top: 0;
    left: 300px;
    animation-delay: 2.5s;
    animation-duration: 3.3s;
}
#shootingStars .shootingStar:nth-child(9){
    top: 0;
    left: 350px;
    animation-delay: 3.5s;
    animation-duration: 6s;
}



@keyframes shootingStar {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

/*------------------------------TITLE------------------------------*/
#title {
    min-height:100dvh;
    display:flex;
    margin:0;
    align-items: center;
}

#title-content {
    color:var(--green);
    padding: var(--paddingAll);
    margin: 0 auto;
    overflow:auto;
}

#title h1{
    font-size:900%;
}

#title p{
    font-size:300%;
}

/*------------------------------BIO------------------------------*/
#bio p {
    font-size:150%;
}

#me {
    width:400px;
    float:left;
}

#bio-content {
    padding: var(--paddingAll);
    overflow:hidden;
}

/*------------------------------WORK------------------------------*/

#timeline {
    position:relative;
    /*max-width:1200;*/
    margin: 0 auto;
    color:var(--purple1);
}

/*stick thing*/
#timeline::after {
    content: '';
    position: absolute;
    width:6px;
    background-color:var(--green);
    top:0;
    bottom:0;
    left:50%;
}

#timeline .container {
    padding: 10px 40px;
    position: relative;
    background-color:var(--purple1);
    width:50%;
}

/*circles on stick thing*/
#timeline .container::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -16px;
    top:10px;
    border-radius:50%;
    z-index:2;
    background-color: var(--green);
}

#timeline .left {
    left: 0;
}

#timeline .right {
    left: 50%;
}

#timeline .right::after {
    left: -9px;
}

/*the actual boxes*/
#timeline .content {
    padding: 20px 20px;
    background-color: var(--green);
    position: relative;
    /*transition: all 0.3s ease-in-out;*/
}

#timeline .content:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 5px 10px var(--blue2);
}

#timeline a {
    color: var(--blue1);
}

#timeline a:hover {
    color: var(--blue2);
}

/*-------------------------------SKILLS------------------------------*/

.skills .skill:nth-child(1) {
    animation-delay: calc(var(--skillTransitionDelay) * 1);
}
.skills .skill:nth-child(2) {
    animation-delay: calc(var(--skillTransitionDelay) * 2);
}
.skills .skill:nth-child(3) {
    animation-delay: calc(var(--skillTransitionDelay) * 3);
}
.skills .skill:nth-child(4) {
    animation-delay: calc(var(--skillTransitionDelay) * 4);
}
.skills .skill:nth-child(5) {
    animation-delay: calc(var(--skillTransitionDelay) * 5);
}
.skills .skill:nth-child(6) {
    animation-delay: calc(var(--skillTransitionDelay) * 6);
}
.skills .skill:nth-child(7) {
    animation-delay: calc(var(--skillTransitionDelay) * 7);
}
.skills .skill:nth-child(8) {
    animation-delay: calc(var(--skillTransitionDelay) * 8);
}
.skills span .skill:nth-child(1) {
    animation-delay: calc(var(--skillTransitionDelay) * 9);
}
.skills span .skill:nth-child(2) {
    animation-delay: calc(var(--skillTransitionDelay) * 10);
}
.skills span .skill:nth-child(3) {
    animation-delay: calc(var(--skillTransitionDelay) * 11);
}

.skill:hover{
    transform: scale(1.1,1.1);
}

span p {
    display: inline-block;
}

span p:hover {
    cursor: default;
}

/*------------------------------WEBSITES------------------------------*/

#websitesTitle {
    position:sticky;
    top:5%;
}

.webimage, .webgif {
    width:50%;
    padding:3%;
    float: left;
}

.webimage:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

#websites .container {
    width:90%;
    margin: 0 auto;
}

#websites #cards {
    list-style:none;
    padding-left:0;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    
}

#card1 {
	--index: 1;
}

#card2 {
	--index: 2;
}

#card1, #card2 {
    color:var(--purple1);
}

#card3 {
	--index: 3;
}

.card {
	position: sticky;
	top: 20%;
	padding-top: calc(var(--index) * var(--cardTopPadding));
    
}

#card1 .card-content {
    background-color: var(--green);
}

#card2 .card-content {
    background-color: var(--blue2);
}

#card3 .card-content {
    background-color: var(--purple2);
}

.card h2 {
    font-size: 300%;
}

.card-content {
    padding: 10px;
    height: var(--cardHeight);
    /*
	justify-content: center;
    */
	/*transition: all 0.5s;*/
}

.card-content .fade {
    display: flex;
    align-items: center;
    text-align:left;
}

.card-actual-content {
    margin: 5%;
    overflow:hidden;
}

#websites ul {
    list-style-type: none;
    padding-left: 0px;
}

#websites .texts p:before {
  content: "◆";
  color: var(--purple1);
  padding: 2px;
}

#websites #card3 .texts p:before {
  color: var(--green);
}

/*------------------------------CONNECT------------------------------*/
#connect {
    text-align:center;
}

#connect .bi, #skills .skill {
    font-size:300%;
    padding:2%;
}

#footer {
    text-align:center;
    color:var(--green)
}

/*
COLOR PALETTE FOR NOW:
purple1: #360568
purple2: #5b2a86
blue1: #7785ac
blue2: #9ac6c5
green: #a5e6ba

*/